@{ 
    ViewData["Title"] = "New Discord Mapgame";
}

<div>
    <h2>To start getting set up with Discord, add the bot to your server by clicking <a href="https://discord.com/api/oauth2/authorize?client_id=736656125193355276&permissions=402779216&scope=bot">here</a> and follow the instructions it sends in your server.</h2>
</div>