@{ 
    ViewData["Title"] = "New Mapgame";
}

<div>
    <div style="text-align: center;">
        <h1>Create a mapgame</h1>
        <br />
        <button onclick="window.location.href = '/Create/New/Discord'">With a Discord server</button>
        <br />
        <br />
        <button onclick="window.location.href = '/Create/New/Web'">On the web</button>
    </div>
</div>