@{ 
    ViewData["Title"] = "Discord Docs";
}

<div>
    <h1>Discord Docs</h1>

    <h2>Getting started</h2>
    <p>If you have already added the bot and setup your server (if not, click <a href="/Create/New/Discord">here</a>) then this section will guide you through the finishing touches and how to manage your mapgame's nation applications, wars, map claims, etc.</p>
    <p></p>
</div>