@{ 
    ViewData["Title"] = "Redirecting...";
}

<div>
    <h1>Redirecting...</h1>

    <script>
        var mapgameID = localStorage.getItem("mapgameID")
        var mapgameType = localStorage.getItem("mapgameType")

        switch (mapgameType) {
            case "discord":
                window.location.href = "/Admin/Discord?mapgameID=" + mapgameID
                break;

            case "web":

                break;

            default:
                window.location.href = "/Admin/Error?errorMessage=missingpermissions"
                break;
        }
    </script>
</div>