@{ 
    ViewData["Title"] = "Invalid Discord Redirect";
}

<div style="text-align: center;">
    <h1>Oops! This is an error.</h1>
    <h2>We weren't able to decode that Discord redirect link. Sorry about that :(</h2>
</div>