@{
    ViewData["Title"] = "Home";
}

<div>
    <div style="text-align: center;">
        <h1>Mapgame Hosting</h1>
        <br />
        <h2>Host your very own mapgame online! Integrate with a Discord server or keep it on the web.</h2>
        <br />
        <button onclick="window.location.href = '/Create'">Create a mapgame</button>
    </div>
</div>
